{% extends "base.html" %}
{%load static%}
{% block content %}

{% for product in products  %}

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{product.image.url}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Check out our</span>
            <span class="section-heading-lower">{{product.name}}</span>
          </h2>
          <p class="mb-3">
            {{product.description}}
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{{ product.get_absolute_url }}">See what we are offering</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endfor %}
<br>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <p class="mb-0">
              <h2><strong>VISION</strong></h2>
            A healthy world with mo maternal and infant deaths.A world without poverty and hunger.</p>
            <p class="mb-0">
              <h2><strong>MISSION</strong></h2>
            To provide quality products and services that promote health and well being of families in Kenya and Africa at large.</p>
            <p class="mb-0">
              <h2><strong>AIM</strong></h2>
            To promote wholesome well being of individuals socially and economically.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock content %}
  