{% extends "base.html" %}
{% load static %}

{% block javascript %}

<script src="{% static 'js/order.js' %}"></script>

{% endblock javascript %}

{% block content %}
<div class="order-form">
<div class="card">
    <h2 class="text-center"> Order Status</h2>
    <div class="row">
        <div class="col-lg">
            <table id="order-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'partial_order_list.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-order">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock content %}