{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="articles" id="Products">
	     		<div class="cards">
	     			<h1 id="services"><u>PRODUCTS & SERVICES</u></h1>
	     			<h2><u>1.cleaning services</u></h2>	
		     			<div id="clean" class="gallery">
		     				<img src="{% static 'images/cleaning-guys.png' %}">
		     				<div class="text"><h2>General cleaning services</h2></div>
		     			</div>
		      			<div id="clean" class="gallery">
		     				<img src="{% static 'images/laundry.png' %}">
		     				<div class="text"><h2>Laundry services</h2></div>
		     			</div>
		     			
     			</div>

     			<div class="cards">
	     			<h2><u>2.food delivery</u></h2>
		     			<div id="food" class="gallery">
		     				<img src="{% static 'images/other1.jpg' %}">
		     				<div class="text"><h2>We cook and deliver nutritious meals</h2></div>
		     			</div>
		      			<div id="food" class="gallery">
		     				<img src="{% static 'images/drinks.jpg' %}">
		     				<div class="text"><h2>Blended juice!</h2></div>
		     			</div>
		     			
     			</div>

     			<div class="cards">
	     			<h2><u>Salad bar menu</u></h2>
		     			<div id="food" class="gallery">
		     				<img src="{% static 'images/salad1.jpg' %}">
		     				<div class="text"><h2>Mango,cucumber, beetroot salad</h2></div>
		     			</div>
		      			<div id="food" class="gallery">
		     				<img src="{% static 'images/salad3.jpg' %}">
		     				<div class="text"><h2>Tomato-avocado salad</h2></div>
		     			</div>
		     			
     			</div>

     			<div class="cards">
	   	     			<div id="food" class="gallery">
		     				<img src="{% static 'images/salad4.jpg' %}">
		     				<div class="text"><h2>Fresh garden salad</h2></div>
		     			</div>
		      			<div id="food" class="gallery">
		     				<img src="{% static 'images/salad2.jpg' %}">
		     				<div class="text"><h2>Egg-avocado salad</h2></div>
		     			</div>
		     			
     			</div>

     			<div class="cards">
	     			<h2><u>3.spa services</u></h2>
		     			<div id="food" class="gallery">
		     				<img src="{% static 'images/massage.jpg' %}">
		     				<div class="text"><h2>Professional massage for body ache</h2></div>
		     			</div>
		      			<div id="food" class="gallery">
		     				<img src="{% static 'images/beauty.jpg' %}">
		     				<div class="text"><h2>beauty services</h2></div>
		     			</div>
		     			
     			</div>


     		</div>


{% endblock content %}
