{% extends 'admin_pages/main.html' %}
{% load static %}
{% block content %}

    <section class="page-content">
        <section class="search-and-user">
            <form>
            <input type="search" placeholder="Search Pages...">
            <button type="submit" aria-label="submit form">
                <svg aria-hidden="true">
                <use xlink:href="#search"></use>
                </svg>
            </button>
            </form>
            <div class="admin-profile">
            <span class="greeting">Hello admin</span>
            <div class="notifications">
                <span class="badge">1</span>
                <svg>
                <use xlink:href="#users"></use>
                </svg>
            </div>
            </div>
        </section>

            <div class="col-md-7">
            <h5>Products:</h5>
            <br>
            <div class="card card-body">

                <table class="table table-sm">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                     {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.image.url }}</td>
                        <td> <a class="btn btn-sm btn-info" href="{% url 'update_product' product.slug %}">Update</a> </td>
                        <td> <a class="btn btn-sm btn-danger" href="{% url 'delete_product' product.slug %}">Remove</a> </td>
                    </tr>
                        {% endfor %}

                </table>
            </div>
        </div>
            <section class="grid">
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
        <footer class="page-footer">
            <small>Made with <span>❤</span> by <a href="http://georgemartsoukos.com/" target="_blank">George Martsoukos</a>
            </small>
        </footer>
    </section>

{% endblock content %}