<!DOCTYPE html>
<html>
<head>
	<title>admin login</title>
	<link rel="stylesheet" href="bs/css/bootstrap.css">
</head>
<body>
	<div class="header">
		<big>
		<span><h1>MAMI'S TOUCH HAVEN!</h1></span>
		<span>A FINE TOUCH RIGHT AT YOUR DOOR STEP</span></big>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img class="logo" src="img/logo3.png">
            <a class="nav-link text-uppercase text-expanded" id="orders" href="index.html"><b>Admin Homepage</b></a>
      	<button class="btn btn-outline-light my-2 my-sm-0" class="bt" type="submit">log out</button>
  </div>
</nav>
<h4>PRODUCT NAMES TABLE</h4>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Made</th>
      <th scope="col">Phone number</th>
      <th scope="col">location</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>laundry</td>
      <td>0700000000</td>
      <td>liki apartments,ruiru next to kcb bank. </td>
      <td>pending</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>deliver mukimo and beef stew</td>
      <td>0700000000</td>
      <td>liki apartments,ruiru next to kcb bank. </td>
      <td>delivered</td>
    </tr>
  </tbody>
</table>
<hr>


<script src="bs/js/jquery.js"></script>

<script src="bs/js/bootstrap.js"></script>	

</body>

</html>